body{
    padding: 0px;
    margin: 0px;
    /* background-image: url("https://img.freepik.com/free-vector/blurred-valentine-s-day-wallpaper_23-2148819570.jpg?w=2000") ; */
    background-image: url("https://wallpapers.com/images/high/spotify-premium-poster-80zia8g07jcyp514.webp");
    
    background-repeat: none; 
    background-color: #932adf;
}
